@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-sobre {
    padding: 60px;    
    margin-top: 4%;
    width: 100%;
}

.card-sobre {
    padding: 40px;
    border: 5px solid #00ffff7f;
    border-radius: 40px;
    text-align: justify;
}

.apresentacao {
    margin-bottom: 30px;
}

p {
    margin-bottom: 20px;
}

.container-sobre li a {
    text-decoration: none;
}

/* link que ainda não foi visitado */
.card-sobre li a {
    color: red;
}

/* link que foi visitado */
.container-sobre li a:visited {
    color: green;
}

/* mouse over */
.container-sobre li a:hover {
    color: #7f37c9;
}

h2 {
    margin-bottom: 30px;
}

.mobile {
    display: none;
}

@media screen and (max-width: 768px) {

    .apresentando {
        margin-top: 20px;
    }

    .container-sobre {
        padding: 15px;
    }

    .container-sobre div {
        overflow-x: auto;
        text-wrap: nowrap;
    }

    .descktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
