@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

:root {
    --color-neutral-0: #214289;
    /* Azul marinho profundo */
    --color-neutral-10: #3161C0;
    /* Azul marinho */
    --color-neutral-30: #8DB3E2;
    /* Azul celeste claro */
    --color-neutral-40: #E1F0FF;
    /* Azul celeste */
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.logo img {
    padding: 8px;
    height: 90px;
    background-size: cover;
    background-color: #fff;
    border-radius: 35px;
}

header {
    background-color: var(--color-neutral-10);
    box-shadow: 0px 3px 10px #464646;
    height: 120px;
    display: flex;
    align-items: center;
}

.nav-bar {
    justify-content: space-between;
    padding: 1.5rem 6rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item ul li {
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--color-neutral-0);
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}